:host {
  display: block;
  --height: 40px;
  --range-background: initial;
  --range-border-color: #999999;
  --handler-background: #222222;
}

.range {
  position: relative;
  height: var(--height);
  background: var(--range-background);
  border: 1px solid var(--range-border-color);
  user-select: none;
}

.handler {
  width: var(--height);
  height: var(--height);
  background: var(--handler-background);
  user-select: none;
  touch-action: none;
  cursor: pointer;

  // Improve performance
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);

  &.transition {
    transition: transform 0.3s ease-out;
  }
}